@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";

@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-gray-1: var(--gray-1);
	--color-gray-2: var(--gray-2);
	--color-gray-3: var(--gray-3);
	--color-gray-4: var(--gray-4);
	--color-gray-5: var(--gray-5);
	--color-gray-6: var(--gray-6);
	--color-gray-7: var(--gray-7);
	--color-gray-8: var(--gray-8);
	--color-gray-9: var(--gray-9);
	--color-gray-10: var(--gray-10);
	--color-gray-11: var(--gray-11);
	--color-gray-12: var(--gray-12);
	--color-purple-1: var(--purple-1);
	--color-purple-2: var(--purple-2);
	--color-purple-3: var(--purple-3);
	--color-purple-4: var(--purple-4);
	--color-purple-5: var(--purple-5);
	--color-purple-6: var(--purple-6);
	--color-purple-7: var(--purple-7);
	--color-purple-8: var(--purple-8);
	--color-purple-9: var(--purple-9);
	--color-purple-10: var(--purple-10);
	--color-purple-11: var(--purple-11);
	--color-purple-12: var(--purple-12);
	--color-indigo-1: var(--indigo-1);
	--color-indigo-2: var(--indigo-2);
	--color-indigo-3: var(--indigo-3);
	--color-indigo-4: var(--indigo-4);
	--color-indigo-5: var(--indigo-5);
	--color-indigo-6: var(--indigo-6);
	--color-indigo-7: var(--indigo-7);
	--color-indigo-8: var(--indigo-8);
	--color-indigo-9: var(--indigo-9);
	--color-indigo-10: var(--indigo-10);
	--color-indigo-11: var(--indigo-11);
	--color-indigo-12: var(--indigo-12);
	--color-pink-1: var(--pink-1);
	--color-pink-2: var(--pink-2);
	--color-pink-3: var(--pink-3);
	--color-pink-4: var(--pink-4);
	--color-pink-5: var(--pink-5);
	--color-pink-6: var(--pink-6);
	--color-pink-7: var(--pink-7);
	--color-pink-8: var(--pink-8);
	--color-pink-9: var(--pink-9);
	--color-pink-10: var(--pink-10);
	--color-pink-11: var(--pink-11);
	--color-pink-12: var(--pink-12);
	--color-green-1: var(--green-1);
	--color-green-2: var(--green-2);
	--color-green-3: var(--green-3);
	--color-green-4: var(--green-4);
	--color-green-5: var(--green-5);
	--color-green-6: var(--green-6);
	--color-green-7: var(--green-7);
	--color-green-8: var(--green-8);
	--color-green-9: var(--green-9);
	--color-green-10: var(--green-10);
	--color-green-11: var(--green-11);
	--color-green-12: var(--green-12);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
